 /* body,
td {
    background-color: darkslategray;
} */ 

html {
    font-size: 62.5%;

}

body > div {
    min-width: 150rem;

} 

header {
    background-image: url(../../image/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 20rem;
}

header > div {
    width: 30rem;
    margin: 0 auto;
}

main {}

#searchDiv {
    text-align: center;
    background-color: #f5f5f5;
    height: 5rem;
}

#searchDiv > span {
    line-height: 5rem;
    font-size: 2.5rem;


}

#tableDiv {
    padding: 1rem;
    background-color: white; 

}


#tableDiv>form> table { 

    width: 150rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    line-height: 3rem;
    background-color: #f9fafb;
}
 
#tableDiv #titleInput{
	height: 3rem; 
	width: 140rem;
	font-size: 2.5rem;
	text-align: center;
}
#tableDiv>form> table textarea{
	font-size: 2.5rem;
}

tr,
td {
    border: 1px solid gray;

    border-collapse: collapse;
    border-right: none;
    border-left: none;

}

#tableDiv td > span {
    display: block;
    text-align: right;
}

#tableDiv>form> table + input{
	display: block;
	width: 8rem;
    height: 4rem;
    font-size: 1.7rem;
    color: gray;
	margin:  0 auto;
	
}

tr:nth-of-type(2n) {
    background-color: white;
}

tr:nth-of-type(2n-1) {
    height: 5rem;
    line-height: 5rem;
}

tr > #contents {
    height: 50rem;
}

main > #directionDiv {
    width: 150rem;
    height: 7rem;
    text-align: right;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

main > #directionDiv > span {
    line-height: 5rem;
    float: left;
    margin-left: 5rem;
    font-size: 2rem;

}

main > #directionDiv > button {
    width: 8rem;
    height: 4rem;
    font-size: 1.7rem;
    color: gray;
    margin: 1rem;

}

main > #commentDiv {
    width: 150rem;
    margin: 0 auto;
    min-height : 20rem;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
}

main > #commentDiv > table {
    width: 140rem;
    margin: 0 auto;
    margin-top: 2rem; 
    text-indent: 3rem;
    border: 1px solid gray;
    font-size: 1.5rem; 
}

main > #commentDiv tr:first-of-type {
    background-color: gray;
    height: 3rem;    
}

main > #commentDiv tr:nth-of-type(2n) {
    height: 4rem;
    line-height: 4rem;
}
#commentDiv span{
        margin-left: 112rem; 
}

main > #commentInsertDiv {
    width: 150rem; 
    margin: 0 auto;
    height: 20rem;
    border-bottom: 1px solid gray;
    padding-left: 10rem;
}

main > #commentInsertDiv > form > input:nth-of-type(2) {
    margin-top: 1rem;
}

main > #commentInsertDiv > form > input:nth-of-type(3) {
    margin-top: 1rem;
    width: 100rem;
    height: 10rem;
    font-size: 2rem;
}

main > #commentInsertDiv > form > input:nth-of-type(4) {
    width: 10rem;
    height: 10rem;
}




footer {
    background-color: gray;
    height: 20rem;
    display: flex;
}

footer > img {
    flex: 0 0 5%;
    margin-top: 5rem;




}

footer > div:first-of-type {
    position: relative;

    flex: 0 0 45%;
}

footer > div:first-of-type > ul {
    margin: 0 auto;
    font-size: 1.5rem;
    width: 60rem;
    height: 18rem;

}

footer > div:first-of-type > ul > li {
    color: rgb(197, 174, 18);
    padding: 1.5rem 0rem 1.5rem 0rem;

}

footer > div:first-of-type > ul > li > span {

    color: darkmagenta;
}

footer > div:first-of-type > span {
    position: absolute;
    right: -9rem;
}

footer > div:last-of-type {

    flex: 0 0 50%;
}

/*        ---*/
footer > div:last-of-type > ul {
    margin-left: 10rem;

    font-size: 1.5rem;
    width: 60rem;

    height: 18rem;

}

footer > div:last-of-type > ul > li {
    color: darkmagenta;
    padding: 1.5rem 0rem 1.5rem 0rem;

}

footer > div:last-of-type > ul > li > a {
    text-decoration: none;
    color: lightgray;

}
